.App {
  text-align: center;
}
div.modal {
  position: fixed;
  width: 300px;
  height: 400px;
  left: calc(50% - 150px);
  top: calc(50% - 200px);
  background-color: #FBFBFB;
  box-shadow: 0px 2px 12px 6px #E8E4E4;
  border-radius: 14;
}
.label select {
  width: 160px;
  padding: 6px;
}
.buttons {
  padding-top: 40px;
}
.buttons button {
  padding: 0;
  width: 80px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}
.buttons button p {
  color: white;
  font-size: 18px;
  line-height: 0;
}
.buttons button.create {
  background-color: rgb(71, 157, 255);
}
.buttons button.close {
  background-color: rgb(255, 71, 71);
}